<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="一键输入.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <一键输入.Properties.Settings>
      <setting name="HotKeyModifiers" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="HotKeyVirtualKey" serializeAs="String">
        <value>86</value>
      </setting>
    </一键输入.Properties.Settings>
  </userSettings>
</configuration>
